<!-- Survey -->
<div class="animate__animated animate__slideInLeft">
  <div class="text-center">
    <div class="pt-4">
      <img
        src="assets/imgs/Logo.png"
        class="img img-fluid"
        alt=""
        style="width: 120px"
      />
    </div>
    <div class="digital-app-title py-4">
      Kính mời Quý vị tham gia <br />
      khảo sát!
    </div>
  </div>
  <div class="list-survey">
    <!-- <img src="assets/imgs/Survey.png" class="img img-fluid pt-4" alt=""/> -->
    <div class="p-3">
      <div class="text-center survey-item">
        <div class="survey-item-title">Hệ thống CNTT trọng yếu</div>
        <div class="survey-item-description pt-2">
          Quý vị nêu các vấn đề đang gặp phải và đánh giá đối với các hệ thống
          CNTT trọng yếu của Sacombank.
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="320"
            height="2"
            viewBox="0 0 320 2"
            fill="none"
          >
            <path
              d="M0.194336 1H319.194"
              stroke="#C9E9FB"
              stroke-dasharray="4 4"
            />
          </svg>
        </div>
        <div class="pt-2">
          <button class="btn btn-primary" routerLink="/survey/first">
            Bắt đầu khảo sát
          </button>
        </div>
      </div>

      <div class="text-center survey-item mt-3">
        <div class="survey-item-title">Dữ liệu và khai phá dữ liệu</div>
        <div class="survey-item-description pt-2">
          Quý vị chia sẻ các vấn đề đang gặp phải và nhu cầu đối với dữ liệu.
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="320"
            height="2"
            viewBox="0 0 320 2"
            fill="none"
          >
            <path
              d="M0.194336 1H319.194"
              stroke="#C9E9FB"
              stroke-dasharray="4 4"
            />
          </svg>
        </div>
        <div class="pt-2">
          <button class="btn btn-primary" routerLink="/survey/second">
            Bắt đầu khảo sát
          </button>
        </div>
      </div>

      <div class="text-center survey-item mt-3">
        <div class="survey-item-title">Sản phẩm dịch vụ số</div>
        <div class="survey-item-description pt-2">
          Quý vị chia sẻ nhu cầu về Sản phẩm dịch vụ số trong 2024.
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="320"
            height="2"
            viewBox="0 0 320 2"
            fill="none"
          >
            <path
              d="M0.194336 1H319.194"
              stroke="#C9E9FB"
              stroke-dasharray="4 4"
            />
          </svg>
        </div>
        <div class="pt-2">
          <button class="btn btn-primary" routerLink="/survey/third">
            Bắt đầu khảo sát
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="p-3">
    <button routerLink="/survey/first" class="btn btn-primary mb-4 w-100">
      Hệ thống CNTT trọng yếu
    </button>
    <button routerLink="/survey/second" class="btn btn-primary mb-4 w-100">
      Dữ liệu và khai phá dữ liệu
    </button>
    <button routerLink="/survey/third" class="btn btn-primary mb-4 w-100">
      Sản phẩm dịch vụ số
    </button>
  </div> -->
</div>
<!-- End Survey -->
