<div class="container">
  <div class="title text-center h2 py-3 px-2">
    <span class="float-left"
      ><i class="fa-solid fa-arrow-left" routerLink="/survey"></i
    ></span>
    Dữ liệu và khai phá dữ liệu
    <span class="float-right opacity-0"
      ><i class="fa-solid fa-arrow-left"></i
    ></span>
  </div>
</div>
<!-- Survey -->
<div class="animate__animated animate__slideInLeft">
  <div class="p-3">
    <iframe
      width="640px"
      height="1000px"
      src="https://forms.office.com/Pages/ResponsePage.aspx?id=HS2pQ86YJke-wzKVXbtpRBDgAexzPB1BuXmtnYuLwM9UM1VLM01SNVRQOEVKSzdST1FUTjFQQkxUNi4u&embed=true"
      frameborder="0"
      marginwidth="0"
      marginheight="0"
      style="border: none; max-width: 100%; max-height: 100vh"
      allowfullscreen
      webkitallowfullscreen
      mozallowfullscreen
      msallowfullscreen
    >
    </iframe>
  </div>
</div>
<!-- End Survey -->
