<div class="container">
  <div class="title text-center h2 py-3 px-2">
    <span class="float-left"
      ><i class="fa-solid fa-arrow-left" routerLink="/digital-app"></i
    ></span>
    Omnichannel
    <span class="float-right opacity-0"
      ><i class="fa-solid fa-arrow-left"></i
    ></span>
  </div>
</div>
<div class="animate__animated animate__slideInLeft">
  <div class="p-4 mt-4">
    <video width="100%" autoplay muted playsinline>
      <source src="assets/videos/omnichannel.mp4" type="video/mp4" />
    </video>
  </div>
</div>
