<section class="position-relative">
  <router-outlet></router-outlet>

  <!-- Nav -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div
          routerLink="/agenda"
          class="col px-0 text-center"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div>
            <img src="assets/imgs/icon/agenda.svg" alt="" />
          </div>
          <div>Chương trình</div>
        </div>
        <div
          routerLink="/survey"
          class="col px-0 text-center"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div>
            <img src="assets/imgs/icon/rating.svg" alt="" />
          </div>
          <div>Khảo sát</div>
        </div>
        <div
          routerLink="/digital-app"
          class="col px-0 text-center"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div>
            <img src="assets/imgs/icon/mini_game.svg" alt="" />
          </div>
          <div>SPDV số</div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Nav -->

  <!-- Scroll To Top -->
  <button
    id="scrollToTopButton"
    *ngIf="showScrollButton"
    #scrollToTopButton
    (click)="scrollToTop()"
  >
    <i class="fas fa-arrow-up"></i>
  </button>
  <!-- End Scroll To Top -->
</section>
