.footer {
  background: #f0f2f7;
  height: 93px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 1.5rem;
  -webkit-box-shadow: 0px -2px 10px 0px rgba(115, 115, 115, 0.4);
  -moz-box-shadow: 0px -2px 10px 0px rgba(115, 115, 115, 0.4);
  box-shadow: 0px -2px 10px 0px rgba(115, 115, 115, 0.4);
  font-family: "Manrope", sans-serif !important;
  color: #131618;
  font-size: 12px !important;
  font-weight: 600;
}

.footer img {
  margin-bottom: 4px;
}

.active {
  color: #0058a0;
}

*:not(i) {
  font-family: "Manrope", sans-serif !important;
}

.title {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 2;
  font-size: 18px;
  font-weight: 700;
}

.content {
  margin-bottom: 120px;
}

.app-info {
  left: 50%;
  transform: translate(-50%, 0);
  top: 24px;
}

.app-btn {
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 1rem;
}

.app-title {
  color: #0058a0;
  font-family: "Play", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.btn-primary {
  border-radius: 8px;
  background: #2a81d0;
  height: 44px;
  padding: 10px 24px;
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border: none;
}

.btn-secondary {
  border-radius: 8px;
  background: #b9c0c6;
  height: 44px;
  padding: 10px 24px;
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border: none;
}

/* .btn-qna {
  background-color: #e5f4fe !important;
  height: 44px;
  width: 147px;
  padding: 10px 24px;
  color: #2a81d0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border: none;
} */

.btn-qna {
  border-radius: 8px;
  background: #f37021;
  height: 44px;
  padding: 10px 24px;
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border: none;
}

.btn-qna-done {
  border-radius: 8px;
  background: #34aa44;
  height: 44px;
  padding: 10px 24px;
  color: #fdfdfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border: none;
}

.modal-title {
  color: #131618;
}

.form-check-input:checked {
  background-color: #2a81d0;
  border-color: #2a81d0;
}

.text-primary {
  color: #2a81d0 !important;
  font-size: 14px;
}

#scrollToTopButton {
  background-color: #2a81d0;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  right: 1rem;
  bottom: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrollToTopButton:hover {
  background-color: #0058a0;
}

.list-question {
  font-size: 14px;
}

.text-done {
  color: #0058a0;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.app-description {
  color: #5e656b;
  font-size: 14px;
}

.container-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 65px;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.digital-app-title {
  color: #0058a0;
  text-align: center;
  font-family: "Play", sans-serif !important;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.angenda-topic {
  border-radius: 4px;
  background: #e5f4fe;
  padding: 8px 16px;
  color: #1368bc;
  font-style: normal;
  font-weight: 600;
}

.list-survey {
  background-image: url(../assets/imgs/Survey.png);
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 150px;
}

.survey-item {
  padding: 16px 12px;
  background: #F8F9FB;
  border-radius: 12px;
  border: 1px solid #ececec;
}

.survey-item-title {
  color: #0d0d0d;
  font-family: "Play", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.survey-item-description {
  color: #5e656b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
